<div class="row">
  <div class="large-12">
    <h1>Question</h1>

    <%- if !@questions.empty? -%>
      <table>
        <tr>
          <th>Title</th>
          <th>Description</th>
          <th></th>
        </tr>

        <%- @questions.each do |question| -%>
          <tr>
            <td><%= link_to question.title, question_path(question.id) %></td>
            <td><%= truncate(question.description, length: 30) %></td>
            <td>
              <%= link_to 'Delete',
                '/questions/' + question.to_param,
                method: :delete %>
            </td>
          </tr>
        <%- end -%>
      </table>

    <%- end -%>
  </div>
</div>
