<div class="row">
  <div class="large-12">
    <h1>Question</h1>

    <%- if !@questions.empty? -%>
      <table>
        <tr>
          <th>Title</th>
          <th>Description</th>
          <th></th>
        </tr>

        <%- @questions.each do |question| -%>
          <tr>
            <td><%= link_to truncate(question.title, length: 40), question_path(question.id) %></td>
            <td><%= truncate(question.description, length: 150) %></td>
            <td>
              <%= link_to 'Delete',
              question, method: :delete, data: {
                confirm: "Are you sure you want to delete this question?"} %>
            </td>
          </tr>
        <%- end -%>
      </table>

    <%- end -%>
  </div>
</div>
